<footer class="site-footer">
    {% if page.is_map %}
         <div class="footer-ack">
             <div class="ack-flags-container">
                 <img src="/assets/images/flag-aboriginal.svg" alt="" height="18">
                 <img src="/assets/images/flag-torres-strait.svg" alt="" height="18">
              </div>
              <p>I acknowledge the Traditional Owners of the lands throughout Australia on which these federal divisions are drawn and pay my respects to their Elders, past and present.</p>
         </div>    
    {% endif %}        
        <ul class="footer-links">
            <li><a href="/about">About</a></li>
            <li><a href="/disclosure">Disclosure</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/copyright/">&copy; 2026<span> Darren McSweeney</span></a></li>
         </ul>
</footer>
