<footer>
    <div class="site-footer">
        <ul class="footer-links">
            <li><a href="/about">About</a></li>
            <li><a href="/disclosure">Disclosure</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/copyright/">&copy; 2026<span> Darren McSweeney</span></a></li>
        </ul>
    </div>
    <div class="footer-ack" id="ack-banner">
      <div class="ack-flags-container">
        <img src="/images/flag-aboriginal.svg" alt="" height="19">
        <img src="/images/flag-torres-strait.svg" alt="" height="20">
      </div>
      <p>I acknowledge the Traditional Owners of the lands throughout Australia on which these federal divisions are drawn and pay my respects to their Elders, past and present.</p>
    </div>  
</footer>
